body {
  background: url(../assets/background.png)no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content img {
  justify-content: center;
  align-items: center;
  width: 350px;
}

.content button {
  margin: 30px 0px 60px 0px;
  width: 94px;
  height: 31px;
  border-radius: 3px;
  background-color: rgba(75,50,167,0);
  border: 1px solid #ffffff;
  font-size: 15px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.content button:hover {
  background-color: #ffffff;
  color: #614299;
}

.content h1 {
  font-size: 20px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
}

@media (max-height: 600px){

  .content img {
    width: 200px;
  }

  .content h1 {
    font-size: 15px;
  }

  .content button {
    margin: 20px 0px 40px 0px;
  }
}